/* PHASE 3: Layout */
.content {
    display: flex;
    justify-content: center;
    min-height: 200px;
    width: 900px;
    margin: 0 auto;
    padding-right: 1px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.content > .content-main {
    display: block;
    width: 75%;
}

.content > .content-sidebar {
    display: block;
    border-right: 1px solid #ccc;
    width: 25%;
}